    <div class="contactus" id="contact-us">
        <div class="section-title">Contact us</div>
        <hr>
        <div class="container">      
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3133.244050148777!2d21.739372015606303!3d38.25064549240998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135e49e91a8bf9df%3A0xd427d184c9b57a2f!2zzpLOsc67z4TOtc-Ez4POr86_z4UgMTEsIM6gzqzPhM-BzrEgMjYyIDIz!5e0!3m2!1sel!2sgr!4v1680794297488!5m2!1sel!2sgr"height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info">
              <form action="#" class="contact-form">
                <div class="section"><span class="id">email:</span><div class="in"><input type="email" name='email' placeholder='example@gmail.com' class="email"><span class="asterisc">*</span></div></div>
                <div class="section"><span class="id">fullName:</span><div class="in"><input type="text"placeholder='your full name' class="fullName" name='name'><span class="asterisc">*</span></div></div>
                <div class="message-section"><div>Message</div><textarea name='text'type="text" placeholder='type your text...' class="message"></textarea></div>
                
                <button name="submit" class="exit submit">Enter</button>
              </form>
            </div>
        </div>

    </div>