    <div class="navbar">
            <div class="logo">
                <img src="/images/main/logo1.png" width="150px" height="100px">
            </div>
            <div class="menu">
                <li><a href="/#applications">Applications</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/#contact-us">ContactUs</a></li>
                <li><a class='exit' href="/log_out">LogOut</a></li>
            </div>
    </div>

