<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
    <script defer src="/javascripts/main.js"></script>
    <script defer src="/javascripts/profile.js"></script>
    <title>HireHub|Profile</title>
</head>
<body>
    <div class="content">
        {{>navbar}}
        {{#user}}
        <div class="card">
            <img src="/{{avatar}}" width="300" height="300"alt="" class="usersImg">
            <div class="usersInfo">
                <div> <b>Username:</b> <span>{{name}} </span></div>
                <div class="mail"><b>Email:</b><span>{{email}}</span></div>
                
                <div class="bio"> <b>Bio:</b>
                <div class="bios">{{bio}} </div>
                </div>
            </div>
        </div>

        {{/user}}
        {{#if editProfile}}
        <button class="button1">Edit</button>
        <form action="profile/editProfile" method="post" enctype="multipart/form-data" class="fade2 form">
            <div>
            <label for="name">Username:</label>
            <input type="text" class="username" name="name" id="">
            </div>
            <div>
            <div>Bio:</div>
            <textarea name="bio" class="message" id="" cols="30" rows="5" placeholder="Enter your bio here"></textarea>
            </div>
            <div>
                <label for="avatar"> Insert profile picture:</label>
                <input type="file" name="avatar" id="avatar" class="" accept="image/png,image/jpeg">
            </div>
            <button type="submit" class="submitBut">Submit</button>
        </form>
        {{/if}}
        {{>footer}}
    </div>
    
</body>
</html>