.banner{
    /* border-radius: 40px; */
    height: 400px;
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .info{
    font-size: 2.5em;
    width: 300px;
    color: white;
    position: relative;
    left: 200px;
    top:100px
}
.fieldset{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-left: 2px;
}
form{
    margin:20px;
    padding: 10px;
    font-size: 1.1em;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.submit{
    position: relative;
    left: 50%;
    background-color: rgba(26,118,255,255);
    border: 0;
    margin-bottom: 5px;
    cursor: pointer;
}
main{
    background-color: white;
}
select{
    color: rgba(26,118,255,255);
    border: 0;
    border-bottom: 1px solid rgba(26,118,255,255);
    cursor: pointer;
}
select:focus-visible{
    outline: none;
}

.application img{
    width: 220px;
    object-fit: fill;
    object-position: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.application{
    display: flex;
    border: 1px solid gray ;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 15px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.application:hover{
    border: 1px solid rgba(26,118,255,255);
    box-shadow: 0px 0px 10px rgba(26,118,255,0.8);
}

.application-description{
    flex-grow: 1;
    background-color: rgb(236, 232, 232);
}
.application-description .company{
    font-size: 1.2em;
    color: rgba(26,118,255,255);
    text-align: center;
    padding: 10px;
}
.application-info{
    padding: 10px;
}
.application-description #description{
    font-style: italic;

}
.less{
    overflow: hidden;
    height: 2em;
}
.application .show-more{
    color:rgb(73, 73, 73) ;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.show-more .more{
    margin-right: 25px;
    text-decoration: underline;
    cursor: pointer;
}

.apply{
    margin-left: 13px;
    padding: 3px;
    background-color: rgba(26,118,255,255);
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

.counter{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 20px 0;
}

.arrow{
    margin: 0 10px 0;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}
.arrow:hover{
    background-color:rgb(73, 73, 73) ;
    color: white;
    border-radius: 3px;
}

.current-application,.total-application{
    font-weight: 600;
}
.section-title{
    font-size: 2em;
    padding: 20px;
    text-align: center;
    padding-bottom: 0;
    color: rgba(26,118,255,1);
}


.contactus{
    background-color:rgba(26,118,255,1) ;
    margin:50px 20px 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.contactus .section-title{
    color: white;
}
.contactus .container{
    display: flex;
    margin: 20px;
}
.contactus .container iframe{
    border-radius: 20px;
    width: 100%;
}
.map{
    flex-basis: 50%;
}
.contactus .container .info{
    flex-basis: 50%;
    /* margin-right: 20px;
    margin-left: 20px;
    background-color: white; */
}
.contactus .contact-form{
    margin-top:0 ;
}
.contactus .contact-form{
    margin-top:0 ;
}
.contact-form .section .id{
    display: inline-block;
    width: 90px;

}
.contact-form .email,.contact-form .fullName{
    width: 200px;
    
    color: rgba(26,118,255,255);
    border: 0;
    border-bottom: 1px solid rgb(73, 73, 73);
    cursor: pointer;


}
.contact-form .email:focus-visible,.contact-form .fullName:focus-visible{
    outline: none;
    border-bottom: 2px solid rgba(26,118,255,0.8);
}
.contact-form .section .in{
    display: inline-block;
 }
 .contact-form .message{
    width: 95%;
    height: 150px;
    

 }
 .contact-form .message:focus-visible{
    outline-color: rgba(26,118,255,0.8);
 }
 .contact-form button{
    margin-top: 10px;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
 }
.asterisc{
    color: red;
}

.hide{
    display: none;
}
.hide2{
    opacity: 0;
    pointer-events: none;
}
.status span{
    border-radius: 5px;
    background-color: rgba(255, 180, 68, 0.411);
}

.status .accepted{
    background-color: rgba(66, 207, 78, 0.411);
}
.status .rejected{
    background-color: rgba(224, 53, 31, 0.411);;
}
